proxmox_api_url = "..."
proxmox_api_token_id = "..."
proxmox_api_token_secret = "..."

vyria_root_sshkey = "..."
vyria_ipconfig0 = "ip=.../..,gw=...,ip6=.../..,gw6=..."
vyria_ssh_port = ...
vyria_username = "..."

kubernetes1_root_sshkey = "..."
kubernetes1_ipconfig0 = "ip=.../..,gw=...,ip6=.../..,gw6=..."
kubernetes1_ssh_port = ...

homeassistant_ipconfig0 = "ip=.../..,gw=...,ip6=.../..,gw6=..."
